<section class="about-me-section p-3 p-lg-5 theme-bg-light">
  <div class="container">
    <div class="profile-teaser media flex-column flex-lg-row">
      <div class="media-body">
        <h2 class="name font-weight-bold mb-1">{{ profile.name }}</h2>
        <div class="tagline mb-3">{{ profile.title }}</div>
        <div class="bio mb-4">
          <p [innerHTML]="profile.description"></p>
        </div>
        <!--//bio-->
        <!-- <div class="mb-4">
          <a class="btn btn-primary mr-2 mb-3" href="portfolio.html"
            ><i class="fas fa-arrow-alt-circle-right mr-2"></i
            ><span class="d-none d-md-inline">View</span> Portfolio</a
          >
          <a class="btn btn-secondary mb-3" href="resume.html"
            ><i class="fas fa-file-alt mr-2"></i
            ><span class="d-none d-md-inline">View</span> Resume</a
          >
        </div> -->
      </div>
    </div>
  </div>
</section>
