<div class="container sections-wrapper py-5">
  <div class="row">
  <div class="primary col-lg-8 col-12">
    <profile-resume [profile]="profile"></profile-resume>
  </div>

  <div class="secondary col-lg-4 col-12">
    <app-skills></app-skills> <!-- Colocar o conhecimento em tecnologias-->
  </div>
  <!--Resumo-->
  </div>

  <!-- <hr />
  <profile-testimonials></profile-testimonials> -->
  <hr />
  <profile-projects></profile-projects>
  <hr />
  <profile-blog></profile-blog>


  <app-footer></app-footer>
</div>
